* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  font-size: 0.95rem;
}

.container {
  padding-top: 1rem;
  width: 94%;
  height: 93vh;
  margin: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

header {
  border-bottom: 0.5px solid white;
  padding-bottom: 0.25rem;
}

.pfp {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 15px;
  background-color: gray;
}

.top-header {
  display: flex;
  height: 5rem;
  flex-wrap: wrap;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  flex-basis: 100%;
}

.text-center {
  text-align: center;
}

.fyp-container,
.following-container {
  display: flex;
  justify-content: center;
}

.fyp-container,
.following-container:hover {
  cursor: pointer;
}

.blue-underline {
  border-bottom: 4px #4287f5 solid;
  border-radius: 2px;
}

.card {
  display: flex;
}

.tweet-pfp {
  width: 2.5rem;
  height: 2.5rem;
  background-color: lightblue;
  border-radius: 20px;
  display: inline-block;
}

.alias {
  font-size: 1.2rem;
  font-weight: 600;
}

.username {
  font-size: 0.85rem;
  margin-left: 0.75rem;
  color: lightgray;
}

.time {
  font-size: 0.85rem;
  margin-left: 1rem;
  color: lightgray;
}

.basic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid lightgray;
}

.basic-text {
  font-size: 1rem;
  padding: 00.75rem 0;
  margin-bottom: 0.25rem;
}

.icons {
  display: flex;
  justify-content: space-around;
  color: gray;
  padding-bottom: 0.5rem;
}

.col-20 {
  flex-basis: 7%;
}

.col-80 {
  flex-basis: 93%;
}

.tweet-img {
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
}

.user {
  margin-left: 1rem;
}

.media-text {
  margin-top: 0.75rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.35rem;
  z-index: 1;
  margin-top: 1rem;
}

@media only screen and (min-width: 500px) {
  .App {
    display: flex;
    height: 100vh;
  }

  .side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: center;
  }

  .side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;
    align-items: center;
  }
  .side-pfp-container {
    /* flex-basis: 10%; */
  }
}
